.wrapper {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: lightblue;

}

.topHeader {
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: lightgray;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding-top: 1em;
    margin-left: 280px;
    
}

.background {
    height: 100vh;
    background-color: lightblue;
}

#overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    
}

#overlay.show {
    display: flex;
}

#overlay figure {
    max-width: 50em;
    max-height: 90vh;
}

#overlay figure figcaption {
    color: white;
}

#overlay img {
    max-height: 50vh;
}

.sidenav {
    height: 100%; 
    width: 250px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }